trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/api/*
      - src/web/*

pool:
  vmImage: ubuntu-latest

variables:
- group: acr-secrets    # ACR_LOGIN_SERVER, ACR_USERNAME, ACR_PASSWORD

steps:
- task: DockerInstaller@0
  displayName: Install Docker

- script: |
    echo $(ACR_PASSWORD) | docker login $(ACR_LOGIN_SERVER) \
      -u $(ACR_USERNAME) --password-stdin

    docker build -t $(ACR_LOGIN_SERVER)/ps-api:$(Build.BuildId) ./src/api
    docker build -t $(ACR_LOGIN_SERVER)/ps-web:$(Build.BuildId) ./src/web

    docker push $(ACR_LOGIN_SERVER)/ps-api:$(Build.BuildId)
    docker push $(ACR_LOGIN_SERVER)/ps-web:$(Build.BuildId)
  displayName: Build and Push Images
