trigger:
  branches:
    include:
      - main

variables:
  acrName: "pspracticeacr"
  acrLoginServer: "pspracticeacr.azurecr.io"
  aksResourceGroup: "pspractice-rg"
  aksName: "pspractice-aks"
  imageTag: "$(Build.BuildId)"

stages:

# =============================
# 1) BUILD & PUSH DOCKER IMAGES
# =============================
- stage: Build
  displayName: "Build & Push Docker Images"
  jobs:
  - job: BuildJob
    pool:
      name: local-win-pool
    steps:
    - checkout: self

    - script: |
        echo ">>> LOGIN TO AZURE (DEVICE CODE)"
        az login --use-device-code

        echo ">>> LOGIN TO ACR"
        az acr login --name $(acrName)

        echo ">>> BUILD API"
        docker build -f docker/api.Dockerfile -t $(acrLoginServer)/ps-api:$(imageTag) .

        echo ">>> PUSH API"
        docker push $(acrLoginServer)/ps-api:$(imageTag)

        echo ">>> BUILD WEB"
        docker build -f docker/web.Dockerfile -t $(acrLoginServer)/ps-web:$(imageTag) .

        echo ">>> PUSH WEB"
        docker push $(acrLoginServer)/ps-web:$(imageTag)
      displayName: "Build & Push Container Images"


# =============================
# 2) DEPLOY TO AKS
# =============================
- stage: Deploy
  displayName: "Deploy to AKS"
  dependsOn: Build
  jobs:
  - job: DeployJob
    pool:
      name: local-win-pool
    steps:
    - checkout: self

    - script: |
        echo ">>> LOGIN TO AZURE (DEVICE CODE)"
        az login --use-device-code

        echo ">>> GET AKS CREDENTIALS"
        az aks get-credentials `
          --resource-group $(aksResourceGroup) `
          --name $(aksName) `
          --overwrite-existing

        echo ">>> APPLY K8S MANIFESTS"
        kubectl apply -f k8s/api-deployment.yaml
        kubectl apply -f k8s/api-service.yaml
        kubectl apply -f k8s/web-deployment.yaml
        kubectl apply -f k8s/web-service.yaml

        echo ">>> UPDATE IMAGES"
        kubectl set image deployment/api-deployment ps-api=$(acrLoginServer)/ps-api:$(imageTag)
        kubectl set image deployment/web-deployment social-web=$(acrLoginServer)/ps-web:$(imageTag)

        echo ">>> SHOW SERVICES"
        kubectl get svc
      displayName: "Deploy to AKS"
